@font-face{
    font-family: 'Nosifer', cursive;
    url('./fonts/Nosifer-Regular.ttf') format('truetype'),
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nosifer', cursive;
}

body {
    overflow: hidden;
    background: #282828;
}

.content {
    width: auto;
    height: 100vh;
}

.sheath {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: linear-gradient(to top, #4bffdb 20%, #4bffdb 20%);
    height: 80vh;
    margin: 5vh 5vw;
    box-shadow: 0 0 80vw 10vw black;
    transition: 1s;
}

.menu {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: auto;
    height: 200px;
    background: #0080ff;
    padding: 20px;
}

.menu div {
    position: relative;
    display: flex;
    align-items: center;
}

.menu div:nth-child(1) {
    justify-content: center!important;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px orange;
}

.menu div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    font-size: 24px;
    color: #fff;
}

.menu div:nth-child(2) i {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid red;
    text-shadow: 0 0 15px orange;
    width: 50px;
    height: 50px;
}

.menu div:nth-child(2) i:hover {
    text-shadow: 0 0 25px orange;
    color: orange;
    border: 1px solid orange;
    transition: 1s;
}

.menu div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 15px orange;
}

.draw-circle {
    position: absolute;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background: orange;
    box-shadow: 0 0 2px 1px red;
}

.draw-circle-crazy {
    position: absolute;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background: cornflowerblue;
    box-shadow: 0 0 2px 1px #4e8bff;
}